@page "/"

<PageTitle>Página Pricipal</PageTitle>

<div class="text-dark h2 p-2">
    Projeto Dízimo
</div>
<div class="p-2" style="color:rgb(0,20,50);font-size:18px">
    <br /><p>
        Projeto para um controle simples de devolução do dízimo.
    </p>

</div>
